.tab-pane {
    -fx-background-color: linear-gradient(to right, #B4D5F9, #E0E7B5);
}

.text-field {
    -fx-background-radius: 20px;
}

.button {
    -fx-background-radius: 10px;
    -fx-pref-width: 60px;
}

.button:hover {
    -fx-cursor: hand;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane {
    -fx-tab-min-width: 132px;
}

.tab {
    -fx-background-insets: 0 1 0 1, 0, 0;
}

.tab:hover {
    -fx-cursor: hand;
}

.tab-pane .tab {
    -fx-background-color: #e6e6e6;
}

.tab-pane .tab:selected {
    -fx-background-color: #6ba834;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #828282;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: white;
}

.tab-pane:top *.tab-header-area {
    -fx-padding: 1em 0em 0em 1em; /* overridden as 5 2 0 0 */
}

#btnBarberAdd, #btnOpAdd,#btnCustomerAdd {
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-background-color: #95ba6d;
}

#btnBarberDelete, #btnOpDelete,#btnCustomerDelete{
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-background-color: #ff8a90;
}
