.tab-pane {
    -fx-background-color: linear-gradient(to right, #B4D5F9, #E0E7B5);
}

.text-field {
    -fx-background-radius: 20px;
}

.button {
    -fx-background-radius: 10px;
    /*-fx-pref-width: 60px;*/
}

.button:hover {
    -fx-cursor: hand;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane {
    -fx-tab-min-width: 123px;
}

.tab {
    -fx-background-insets: 0 1 0 1, 0, 0;
}

.tab:hover {
    -fx-cursor: hand;
}

.tab-pane .tab {
    -fx-background-color: #e6e6e6;
}

.tab-pane .tab:selected {
    -fx-background-color: #6ba834;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #828282;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: white;
}

.tab-pane:top *.tab-header-area {
    -fx-padding: 1em 0em 0em 1em; /* overridden as 5 2 0 0 */
}

.btnAdd {
    -fx-text-fill: white;
    -fx-background-color: #95ba6d;
}

.btnAdd:hover {
    -fx-text-fill: white;
    -fx-background-color: #7a9c3d;
}

.btnDelete {
    -fx-text-fill: white;
    -fx-background-color: #ff8a90;
}

.btnDelete:hover {
    -fx-text-fill: white;
    -fx-background-color: #fd5c62;
}

.table-row-cell:odd {
    -fx-background-color: #DEEAE3;
}

.table-row-cell:even {
    -fx-background-color: #C8D3CC;
}

.table-view {
    -selected-color: #508964;
}

.table-row-cell:selected {
    -fx-background-color: -selected-color;
}

.table-view:focused {
    -fx-background-color: #6f9e7d;
}