#mainPane {
    -fx-background-color: #CFC5F6;
    -fx-pref-width: 700px;
    -fx-pref-height: 500px;
}

#loginPane {
    -fx-background-color: linear-gradient(to bottom, #B4D5F9, #E0E7B5);
    -fx-background-radius: 20px;
}

/*.label {*/
/*    -fx-font-size: 18px;*/
/*}*/

.h1 {
    -fx-font-size: 32px;
}

.account {
    -fx-font-size: large;
    -fx-font-style: italic;
}

#lblRegisterNow {
    -fx-font-size: large;
}

#lblRegisterNow:hover {
    -fx-text-fill: #6f40d4;
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;

}

.button {
    -fx-cursor: hand;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-border-width: 1px;
    -fx-border-style: solid;

}

#btnLogin {
    -fx-background-color: #90CBF9;
    -fx-border-color: #5080d9;
}

#btnLogin:hover {
    -fx-background-color: #5080d9;
}

#btnAdmin {
    -fx-background-color: #A8C898;
    -fx-border-color: #62a78b;
}

#btnAdmin:hover {
    -fx-background-color: #62a78b;
}

.text-field {
    -fx-background-radius: 20px;
}

.loginLabel {
    -fx-font-size: 20px;
    -fx-font-family: "Calibri Light";
}

/*#btnAdminLogin {*/
/*    -fx-background-color: #A7D6AA;*/
/*    -fx-border-width: 1px;*/
/*    -fx-border-style: solid;*/
/*    -fx-border-radius: 20px;*/
/*    -fx-border-color: teal;*/
/*}*/

/*#btnAdminLogin:hover {*/
/*    -fx-background-color: #7adc81;*/
/*}*/