.button {
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-background-color: #A0D7D9;
    -fx-border-color: #508080;
    /*FDE6CC*/
}
#mainPane{
    -fx-background-color: radial-gradient(focus-distance 100% , center 50% 50% , radius 50% , #FFBDDE, #B6EEBD);
}
.label{
    -fx-text-fill: black;
}